/* Navbar Styles */
.navbar {
  background: linear-gradient(to right, #ec4899, #a855f7); /* Pink to purple gradient */
  color: white;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-logo{
  height: 80px;
  border-radius: 20px;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #fbcfe8; /* Light pink */
}

.navbar-button {
  background-color: #ec4899; /* Pink */
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  display: none;
}

/* Mobile menu - Initially hidden on desktop */
.navbar-links.active {
  display: block;
  position: absolute;
  top: 70px; /* Adjust based on navbar height */
  left: 0;
  right: 0;
  background: #ec4899;
  padding: 1rem;
  text-align: center;
  z-index: 100;
}

.navbar-links li {
  margin: 1rem 0;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .navbar-links {
      display: none;
      width: 100%;
  }
  .navbar-button {
      display: block;
  }
  .navbar-button:focus {
      outline: none;
  }
}
